html,body{
    margin: 0;
     padding: 0;
    height: 100%;
        font-family: 'Montserrat', sans-serif;
    }   



.title{
    text-align: center;


}

h1{
    padding-top: 1em;
}
.container{
    display: flex;
    flex-direction: row;
}
.carru{
    padding-left: 3em;
    
    height: 46em ;
    width: 12.5em;
    overflow:scroll;
}

.i{
   margin-left: 4em;

}
.buy{
    padding: 12em;
   
    margin-top: 8em;
   
    align-content: center;
}
.small{
    filter: grayscale();
}
.small:hover{
    filter: none;
}
.big{

    height: 46em ;
    width: 42em;
}
button{
    
  background-color: rgba(152,192,192,255);
    border-radius: 30%;
    width: 50%;
    height: 17%;
    border: solid 1px rgba(152,192,192,255);
    margin-top: 1em;
    margin-left: 3em;
}
button:hover{
    background-color: darkgray;
}

.tbuy{
    margin-left: 1em;
}
.tbuy17{
margin-left: 7em;
}
.tbuy2{
    margin-left: 8em;
}
.tbuy3{
    font-size: 1.2em;
margin-right:3em ;
}

